.contenedor-boton {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #88868f;
    color: #fafafa;
    border-radius: 25px;
    border: 0px solid #1c1c1c;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0px 2px 5px -1px white;
}

.contenedor-boton:hover {
    background-color: #a3a2a9;
}

.operador {
    background-color: #00471b;
}

.operador:hover {
    background-color: #005721;
}