.boton-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #a04b61;
    margin: 8px 4px 4px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fafafa;
    border: 0px solid #1c1c1c;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0px 2px 5px -1px white;
}

.boton-clear:hover {
    background-color: #b15970;
}